<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brandslink.cloud.inbound.mapper.BoxInfoMapper">
    
    <resultMap id="BaseResultMap" type="com.brandslink.cloud.inbound.entity.BoxInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
        <result column="floor" jdbcType="VARCHAR" property="floor" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="box_id" jdbcType="VARCHAR" property="boxId" />
        <result column="list_id" jdbcType="VARCHAR" property="listId" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, warehouse, floor, type, box_id, list_id
    </sql>
    
    <!-- 查询箱子信息 -->
    <select id="selectBoxInfoByCode"  resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from box_info
        where warehouse = #{warehouse} and box_id = #{boxId}
    </select>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from box_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from box_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.brandslink.cloud.inbound.entity.BoxInfo">
        insert into box_info (id, warehouse, floor, 
            type, box_id, list_id
            )
        values (#{id,jdbcType=INTEGER}, #{warehouse,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, 
            #{type,jdbcType=VARCHAR}, #{boxId,jdbcType=VARCHAR}, #{listId,jdbcType=VARCHAR}
            )
    </insert>
    
    <insert id="insertInfo" parameterType="com.brandslink.cloud.inbound.entity.BoxInfo" >
        insert into box_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="warehouse != null">
                warehouse,
            </if>
            <if test="floor != null">
                floor,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="boxId != null">
                box_id,
            </if>
            <if test="listId != null">
                list_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="warehouse != null">
                #{warehouse,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="boxId != null">
                #{boxId,jdbcType=VARCHAR},
            </if>
            <if test="listId != null">
                #{listId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.brandslink.cloud.inbound.entity.BoxInfo">
        update box_info
        <set>
            <if test="floor != null">
                floor = #{floor,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="listId != null">
                list_id = #{listId,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
        	<if test="boxId != null and boxId != ''">
                 and box_id = #{boxId,jdbcType=VARCHAR}
            </if>
            <if test="warehouse != null and warehouse != ''">
                 and warehouse = #{warehouse,jdbcType=VARCHAR}
            </if>
        </where>
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.brandslink.cloud.inbound.entity.BoxInfo">
        update box_info
        set warehouse = #{warehouse,jdbcType=VARCHAR},
            floor = #{floor,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR},
            box_id = #{boxId,jdbcType=VARCHAR},
            list_id = #{listId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="page" parameterType="com.brandslink.cloud.inbound.entity.BoxInfo" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from box_info
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id != ''">
                 and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="warehouse != null and warehouse != ''">
                 and warehouse = #{warehouse,jdbcType=VARCHAR}
            </if>
            <if test="floor != null and floor != ''">
                 and floor = #{floor,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type != ''">
                 and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="boxId != null and boxId != ''">
                 and box_id = #{boxId,jdbcType=VARCHAR}
            </if>
            <if test="listId != null and listId != ''">
                 and list_id = #{listId,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
</mapper>